<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSize</key>
	<string>12</string>
	<key>MinYear</key>
	<string>2013</string>
	<key>BgImage</key>
	<string>currentMonth</string>
	<key>Pin</key>
	<string>noPinCode</string>
</dict>
</plist>
